<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/index']">Space website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/articles']" routerLinkActive="active">Articles</a>
            <a class="nav-item nav-link" [routerLink]="['/create']" routerLinkActive="create">Create a new article</a>
            <a class="nav-item nav-link" [routerLink]="['/search']" routerLinkActive="search">Search an article</a>
        </div>
    </div>
</nav>
<div class="wallpaper">
    <br />
    <router-outlet></router-outlet>
</div>